.layout {
    width: 100%;
    padding-top: 3rem;
}

.layout-blocks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

h1, h2, h4 {
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    padding: 1rem 0;
    color: darkblue;
}

h4 {
    color: darkblue;
}

.arrow {
    color: red;
}

